
singularity {
            enabled = true
            cacheDir = "/opt/singularity-images/nextflow"
}

params { 
  output        = "results-nf/"
  name          = "selex-nf"
  pairs         = "../data/fastq/*_R{1,2}_001.fastq"
  adapter5      = "GGGAGGACGATGCGG"
  adapter3      = "CAGACGACTCGCCCGA"
  length        = "30"
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"
} 

process {
        executor='slurm'
        queue='all'
        memory='2.G'
        cpus='1'
        time='2.h'
        }

timeline {
  enabled = true
  file = "${params.output}/pipeline_info/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.output}/pipeline_info/execution_report.html"
}
trace {
  enabled = true
  file = "${params.output}/pipeline_info/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.output}/pipeline_info/pipeline_dag.svg"
}

